In [1]:
#1.Create a variable age and assign it the value 25 . Then print the value of
#age along with its data type using the type() function.
age = 25
print("Age:", age)
print("Data type of age:", type(age))

Age: 25
Data type of age: <class 'int'>

In [2]:
#2.Assign the number 12.5 to a variable price . Print both the variable and its
# data type. Then assign the value 12 to the same variable and print its data
# type again. What do you observe?
price = 12.5
print("Price:", price)
print("Data type of price:", type(price))

Price: 12.5
Data type of price: <class 'float'>

In [3]:
price = 12
print("price:",price)
print("data type of price after reassignment:", type(price))

price: 12
data type of price after reassignment: <class 'int'>

In [4]:
#3.Create a variable is_raining and set it to True . Print the value of the variable
# along with its type. Then set is_raining to False and print the new value and
# type.
is_raining = True
print("Is it raining?", is_raining)
print("Data type of is_raining:", type(is_raining))
is_raining = False
print("Is it raining?", is_raining)
print("Data type of is_raining after reassignment:", type(is_raining))

Is it raining? True
Data type of is_raining: <class 'bool'>
Is it raining? False
Data type of is_raining after reassignment: <class 'bool'>

In [5]:
#4.Create a variable my_name and store your full name in it as a string. Then
# print the value of my_name using single quotes ' .
my_name = "Balaji Raut"
print('my_name_is:', my_name)

my_name_is: Balaji Raut

In [6]:
#5.Write a Python program that asks the user for their name and age using the
# input() function. Store the inputs in variables and print a sentence like
# "Hello, [Name]! You are [Age] years old." Ensure you cast the age to an
# integer.
name = input("Please enter your name: ")
age = int(input("Please enter your age: "))
print(f"Hello,{name}! You are {age} years old.")

Hello,Balaji! You are 25 years old.

In [7]:
#6.Create two variables x and y and assign them the values 10 and 3.5 ,
# respectively. Print their values and types. Then, create a new variable
# sum_xy and store the sum of x and y . Print the result and its type.
x = 10
y = 3.5
print("value_of x:",x, "and type of x:",type(x))
print("value_of y:",y, "and type of y:",type(y))

sum_xy = x + y
print("sum of x and y is:",sum_xy,"and type of sum_xy is:",type(sum_xy))

value_of x: 10 and type of x: <class 'int'>
value_of y: 3.5 and type of y: <class 'float'>
sum of x and y is: 13.5 and type of sum_xy is: <class 'float'>

In [8]:
#7.Using the type() function, check and print the data type of the following:
# 45.0
# "hello"
# None
# False
print("Data type of 45.0:",type(45.0))
print("Data type of 'hello':",type("hello"))
print("Data type of None:",type(None))
print("Data type of False:",type(False))

Data type of 45.0: <class 'float'>
Data type of 'hello': <class 'str'>
Data type of None: <class 'NoneType'>
Data type of False: <class 'bool'>

In [9]:
#8.Write a Python program to print three strings "apple" , "banana" , and "cherry"
# on the same line, separated by a space. Then modify the program to
# separate the strings using a comma , instead of a space.
print("apple", "banana", "cherry")  # Using space as separator
print("apple", "banana", "cherry", sep=", ")  # Using comma as separator

apple banana cherry
apple, banana, cherry

In [10]:
#9.Create a variable big_number and assign it a very large integer value (e.g.,
# 987654321987654321 ). Print the value and its type. What do you notice about
# the size of the number?
num = 987654321987654321
print("Big number:", num)
print("data type of num is:",type(num))

Big number: 987654321987654321
data type of num is: <class 'int'>

In [11]:
#10.Write a Python program that prints the result of multiplying two floats (e.g.,
# 2.5 and 3.7 ). Then check and print the data type of the result.
f1 = 2.5
f2 = 3.7
print("multiplying two floats:", f1 * f2)
print("Data type of the result:", type(f1 * f2))

multiplying two floats: 9.25
Data type of the result: <class 'float'>